body {
  color: rgb(89, 89, 89);
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

  font: 76% / 180% メイリオ, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "ＭＳ Ｐゴシック";
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  ime-mode: inactive;
}
#endCount {
  width: 608px;
  height: 10px;
  margin: 10px auto;
}
#headerContainer {
  width: 608px;
  height: 210px;
  font: 17px メイリオ, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "ＭＳ Ｐゴシック";
  margin: 0 auto 10px;
  border: 1px solid #d8d8d8;
  overflow: hidden;
  position: relative;
}
#startText {
  color: #ffb43e;
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
}
#startCount {
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
}
#japaneseText {
  position: absolute;
  left: 15px;
  top: 36px;
  width: 580px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  overflow: hidden;
  font-variant-ligatures: no-common-ligatures;
}
#romajiText {
  position: absolute;
  left: 15px;
  top: 102px;
  width: 580px;
  height: 30px;
  font-size: 26px;
  line-height: 26px;
  overflow: hidden;
  font-variant-ligatures: no-common-ligatures;
}
#keyboard {
  width: 610px;
  height: 210px;
  margin: 0 auto;
}
#keyboard #keyboardContainer #allKeys {
  position: relative;
}
#keyboard #keyboardContainer #allKeys div {
  width: 34px;
  height: 34px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
  position: absolute;
}
#keyboard #keyboardContainer #allKeys #oneKey {
  left: 41px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #towKey {
  left: 82px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #threeKey {
  left: 123px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #fourKey {
  left: 164px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #fiveKey {
  left: 205px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #sixKey {
  left: 246px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #sevenKey {
  left: 287px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #eightKey {
  left: 328px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #nineKey {
  left: 369px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #zeroKey {
  left: 410px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #hyphenKey {
  left: 451px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #caretKey {
  left: 492px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #yenKey {
  left: 533px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #backSpaceKey {
  left: 574px;
  top: 0;
}
#keyboard #keyboardContainer #allKeys #tabKey {
  width: 54px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #qKey {
  left: 61px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #wKey {
  left: 102px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #eKey {
  left: 143px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #rKey {
  left: 184px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #tKey {
  left: 225px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #yKey {
  left: 266px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #uKey {
  left: 307px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #iKey {
  left: 348px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #oKey {
  left: 389px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #pKey {
  left: 430px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #atSignKey {
  left: 471px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #eachParenthesisKey {
  left: 512px;
  top: 41px;
}
#keyboard #keyboardContainer #allKeys #enterKey {
  width: 57px;
  height: 77px;
  top: 41px;
  left: 553px;
  background: url("../images/enter.png") no-repeat;
  background-size: 100% 100%;
  border: none;
}
#keyboard #keyboardContainer #allKeys #capsLockKey {
  width: 76px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #aKey {
  left: 81px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #sKey {
  left: 122px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #dKey {
  left: 163px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #fKey {
  left: 204px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #gKey {
  left: 245px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #hKey {
  left: 286px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #jKey {
  left: 327px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #kKey {
  left: 368px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #lKey {
  left: 409px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #semicolonKey {
  left: 450px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #colonKey {
  left: 491px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #closeEachParenthesisKey {
  left: 532px;
  top: 82px;
}
#keyboard #keyboardContainer #allKeys #shiftLeftKey {
  width: 96px;
  left: 0px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #zKey {
  left: 101px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #xKey {
  left: 142px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #cKey {
  left: 183px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #vKey {
  left: 224px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #bKey {
  left: 265px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #nKey {
  left: 306px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #mKey {
  left: 347px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #commaKey {
  left: 388px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #dotKey {
  left: 429px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #slashKey {
  left: 470px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #backslashKey {
  font-family: Arial;
  font-size: 22px;
  left: 511px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #shiftRightKey {
  width: 58px;
  left: 552px;
  top: 123px;
}
#keyboard #keyboardContainer #allKeys #ctrlLeftKey {
  width: 54px;
  top: 164px;
}
#keyboard #keyboardContainer #allKeys #windowsKey {
  top: 164px;
  left: 61px;
}
#keyboard #keyboardContainer #allKeys #altLeftKey {
  top: 164px;
  left: 102px;
}
#keyboard #keyboardContainer #allKeys #noConversionKey {
  top: 164px;
  left: 143px;
}
#keyboard #keyboardContainer #allKeys #spaceKey {
  width: 179px;
  left: 184px;
  top: 164px;
  background-color: #ffb43e;
  color: #ffffff;
}
#keyboard #keyboardContainer #allKeys #conversionKey {
  top: 164px;
  left: 370px;
}
#keyboard #keyboardContainer #allKeys #wonderKey {
  top: 164px;
  left: 411px;
}
#keyboard #keyboardContainer #allKeys #altRightKeykey {
  width: 54px;
  top: 164px;
  left: 452px;
}
#keyboard #keyboardContainer #allKeys #menuKey {
  top: 164px;
  left: 513px;
}
#keyboard #keyboardContainer #allKeys #ctrlRightKey {
  width: 56px;
  top: 164px;
  left: 554px;
}
#hands {
  width: 240px;
  height: 75px;
  margin: 0 auto 10px;
  position: relative;
}
#hands .finger {
  width: 42px;
  height: 75px;
  background-color: #d8d8d8;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 21px 21px 0 0;
}
#hands #firstFinger {
  height: 55px;
}
#hands #secondFinger {
  left: 47px;
}
#hands #thirdFinger {
  left: 94px;
}
#hands #fourthFinger {
  left: 141px;
}
#hands #fifthFinger {
  height: 35px;
  left: 188px;
}
footer {
  text-align: center;
  margin-bottom: 0px;
}
